@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-blue-gradient {
  background: linear-gradient(
    127.81deg,
    #def9fa -43.27%,
    #8ab1c8 -30.24%,
    #9ebdd0 20.19%,
    #aedcf8 40.82%,

    #9acff5 51.94%,
    #91bfd9 90.29%
  );
}

.shadoww {
  box-shadow: 10px 10px 100px 20px rgba(16, 16, 17, 0.1);
}

.blueshadow {
  box-shadow: 0px 5px 10px 0px rgba(29, 91, 249, 0.5);
}

.logo {
  background: url("../src/assets/AcecoinLogo.JPG") center/cover no-repeat;
  height: 22px;
  width: 22px;
}

.masterCard1 {
  background: url("../src/assets/MasterCard.JPG") center/cover no-repeat;
  height: 25px;
  width: 25px;
}

.icons {
  background: url("../src/assets/topRightImg.JPG") center no-repeat;
}

.atmBar {
  background: url("../src/assets/AtmBar.JPG") center no-repeat;
}

.footerIcon {
  background: url("../src/assets/FooterIcon.JPG") center/cover no-repeat;
}
